.navbar-default {
  background-color:#2882b5;
  border-radius:0;
  margin:0;
  border:none;
  border-color: #1c73a5;
  border-width: 0 0 1px;
  border-style:solid;
  // height: 100px;
  // min-height:40px;
  padding:10px;
  color:#EEE;
}

.navbar-default a {
  font-weight:bold;
  color:white;
}

.nav-logo {
  font-size: 30px;
  float: left;
  margin-right: 10px;
}

.slack-button {
  float: right;
  position: relative;
}
